<div>
{{form_start(upload_form)}}
{{form_label(upload_form.video)}}
{{form_widget(upload_form.video)}}
{{form_label(upload_form.cover)}}
{{form_widget(upload_form.cover)}}
{{form_widget(upload_form.upload)}}
{{form_end(upload_form)}}
</div>

