{{form_start(upload_form)}}
<div style="color:blue">{{form_label(upload_form.video)}}</div>
{{form_widget(upload_form.video)}}
<div style="color:blue">{{form_label(upload_form.cover)}}</div>
{{form_widget(upload_form.cover)}}
{{form_widget(upload_form.upload)}}
{{form_end(upload_form)}}